<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!--
To save map
$rosrun pcl_ros pointcloud_to_pcd input:=ndt_map
or
rostopic pub /config/ndt_mapping_output runtime_manager/ConfigNdtMappingOutput
filter_res
filename
-->
<launch>

	<include file="$(find autoware_jit_launch)/launch/decode_velo_packet.launch" />
	<include file="$(find autoware_jit_launch)/launch/do_mapping_ndt.launch" />
<!--
    <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find autoware_jit_launch)/rviz/disp.rviz" output="screen" />
-->
</launch>
